# deps
node_modules/

# Next.js
.next/
out/

# build
dist/

# env
.env
.env.local
.env.*.local

# database
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

# TypeScript
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db
